.header {
  padding: 15px 15px;
  background-color: lightgrey;
  border-bottom: 2px solid black;

  h1 {
    margin: 0;
    padding-bottom: 10px;
  }

  button {
    min-width: 5em;
    margin-right: 5px;
    padding: 5px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: white;
      transition: 200ms;
    }

    &:checked {
      background-color: black;
      color: white;
    }
  }
}